<div class="inner cover">
  <h1 class="cover-heading">Ovanes Filip</h1>
  <form method="get">
    <div class="input-group">
      <label for="search" class="sr-only">Find a video</label>
      <select name="index" class="form-control custom-select" id="search">
        <option value=""></option>
        <option value="02">1950 Fam Filips dupā</option>
        <option value="02">1950 Family Macedonski</option>
        <option value="02">1950 In Bucharest</option>
        <option value="24">1967-1968 Expo 67, Loretta's Suite 16</option>
        <option value="21">1967-1970 Alice al Hani Cu Lidia La Bucharest Mamica Taticu Mama Coca Craciunul La Anisoara Vetuta Carmen  Tanti Pauling Nenea Chiotghe Paul La Cimitir la Mormantul Lui Tata Paul Si Loretta La Paris</option>
        <option value="29">1968/1989/1990 Cainele, Chic, Banff, Lake Louise, Ho de aui de casatorie, Jasper cu ranui, dansam camping in Jasper, Casdin 117 Delta, casa lui Bebe din 90 Av. Delta, Casu m swimming pool including Mamica, Dan & Matthew, etc.</option>
        <option value="24">1969 Vacanta la Zoo cu chirouia</option>
        <option value="19">1970 Crociun</option>
        <option value="21">1970 Nunta lui Loretta Randy Grambrzu chiro vici Ica cutoti prietenii La Wilsboro Loretta Suit 16th Montreal Pe Munte Iorna potinay Loretta Alice</option>
        <option value="23">1970-1971 Vilita la Bucharest Nasterea lui Boby de Sarbatori cu toata familia la Anisooro Venea Ghiorehe tanli Paulina Carmen Mama Alice si Loretta la patinai pe munte Mama coca Paul Loretta la moomantul lui Tata.  Wilsboro la Lack chirouiei lea Vlasiy jul Eliza Smreciu Marovei Sanolu vuti Alice Osable Cozum. Lidia Vilita la Bucharest tata Mama. Lorretta's Marriage</option>
        <option value="24">1972 Vizit to Bucharest, Paris with Loretta and Me, Alice, Dna Chirorici Wilsboro etc.</option>
        <option value="20">1972-1979 Pit Lake Otilia Claudio Antoneta Mr. Sabo, Mrs. Sabo, La plrcare dim Bucureste Randy Loretta, Vine in Banff, Hot Springs, Me Swimming, The Quinn Family, Vine Prima data in vitita la noi in vilita Wite Aece Osable calum Alice Loretta camping at Gipson</option>
        <option value="17">1973/1974/1975 Alice, Lidia, Mannten</option>
        <option value="17">1973/1974/1975 Calgary, Tony, Rina</option>
        <option value="17">1973/1974/1975 Hot Springs, Banff</option>
        <option value="17">1973/1974/1975 Jack Carter Bridge</option>
        <option value="17">1973/1974/1975 Loretta, Randy vine din</option>
        <option value="17">1973/1974/1975 Los Angeles, White Face</option>
        <option value="17">1973/1974/1975 Randy & Loretta</option>
        <option value="17">1973/1974/1975 Szabo Antoneta in Montreal</option>
        <option value="17">1973/1974/1975 Wilsboro Maravey</option>
        <option value="39">1976 Din Montreal in Vancouver, Botanical Gardens</option>
        <option value="22">1976-1984 Perioeida from Montreal Wilsboro Venirea spre Vancouver etc.</option>
        <option value="39">1976/1978/1981 Dan & Matthew la 1 an la2 ani Tiwana Lidia Alice Las Vegas Washington Long Beach Tofino Randy, Loretta, Alice, Joli, Christmas 1981 Antoneia Michael Harry, Cuk Cernei Dr Dumitrescu, Gerry, Shirley, etc. Pit Lake Wily, cu Familia, cu barca Toni, Rina, in vizita Randy & Loretta, in Penticton Lake, din Calgari, venirea</option>
        <option value="20">1979 Pearl Harbour, Hawaii</option>
        <option value="19">1986 Alice's Wedding</option>
        <option value="19">1986 Bebe acase in STR</option>
        <option value="19">1986 Christmas Revelion</option>
        <option value="31">1986 Haway San Francisco, Grand Canyon, Vancouver, Buchart Gardens</option>
        <option value="29">1986 Haway San Francisco, Slaiduri Grand Canyon</option>
        <option value="32">1986 Salt Lake City, Grand Canyon, Reno, Cyti</option>
        <option value="32">1986 Vancouver Expo</option>
        <option value="18">1987 Florida, Miami, Key West, DL Sabo, DNA, SABU, Bahamas</option>
        <option value="19">1987 La Tisan To ata family la noi acase</option>
        <option value="37">1987 Shirley turkey dinner for Christmas</option>
        <option value="37">1988 New year at Tisan, all our friends</option>
        <option value="19">1988 Pastele</option>
        <option value="37">1988/1989 Costescu family at old house, Filip & Lidia, Naie & Titi, Matthew, Dan, Alice, Adam (9months), Randy, Loretta, Gerry, at Lake Penticton</option>
        <option value="19">1989 Lake Louise</option>
        <option value="19">1989 Paul la 65 aui Tony and Rina</option>
        <option value="34">1990 April de pasti Los Angeles la Sandu si Nuti Fenix Sacramento Santiago, Vizita de saptamoru</option>
        <option value="19">1990 Casatoriti la ho de ani in Banff, Jasper, camping donsam</option>
        <option value="19">1990 Matthew's Birthday, Chic, crociunul la Alice</option>
        <option value="29">1990 Miss Universe</option>
        <option value="19">1990 Pravalia in Kingsgake Mall</option>
        <option value="28">1990-1992 Los Angeles with Sandu, Nutzi, Rina, Toni, San Deigo Zoo, Pastele la Loretta, in Langley, cu toota familia, Filip, Quinn, Alice Adam, La3 Ani Interiorul casei 84th Av. motor home mic Me La G7 Danseaz</option>
        <option value="33">1993 Me, Lidia and Our all photo Family, Dan Graduates in Halloween at Bebe's with Naie Bebe, Pontiac Pariz Craciunul in Caliente Palm Springs on Tramvai on Mountain and Restarant with Wili and Angi, Sandu, Nuti, Toni, Rina, Motorhome, Komfort, Simon Fraser Mountain</option>
        <option value="26">1993/1994 Los Vegas for my 70th Birthday, Shirly & Gerry at Caliente, Sale of ladies of beautiful dresses in Caliente</option>
        <option value="35">1994 Bucharest: Coca, Boby, Vetuta, Anisoara, Narioara, La Cimitir, Paul vizita Toni, Rina</option>
        <option value="36">1994 Calexite, Loretta & Randy, visit with Toni & Rina</option>
        <option value="35">1994 Caliente cu motorhome Komfort, 5th Wilet, Harison Lake etc. Victor, Niki, Duci</option>
        <option value="03">1994 Dan and Lidia and Adam</option>
        <option value="03">1994 Garden and flowers and the motor home</option>
        <option value="03">1994 Halloween Party at Bebe's</option>
        <option value="03">1994 Harrison Otilia, Axente, Bebe, Nae</option>
        <option value="03">1994 Lidia's Birthday</option>
        <option value="03">1994 Loretta Alice Birthday</option>
        <option value="03">1994 The oranges in California</option>
        <option value="03">1994 Tofino Paul and Lidia</option>
        <option value="38">1994 Vacanta din Mrveb 3 Luni in California, hot springs</option>
        <option value="36">1995 Christmas with Bebe</option>
        <option value="27">1995 Christmas, Paul when we bin tong, Halloween with Bebe</option>
        <option value="38">1995 Toni & Rina for Christmas, Paul la Bucharesti, coca vetuta, anisoara, Carmen, Puci, Niki, Victor, Harrison Hot Springs</option>
        <option value="36">1996 Christmas Caliexite</option>
        <option value="27">1996 Palm Springs in Funicular, Adam's Birthday</option>
        <option value="16">1996/1997 Adam's Birthday</option>
        <option value="27">1996/1997 Caliente January & February, Toni, Rina, Sandu, Nuti, Adam's 7th Birthday, Bebe, Rodica, Craciun, Loretta, Randy</option>
        <option value="16">1996/1997 Caliente in Sala de Sport</option>
        <option value="16">1996/1997 Dan's Graduation</option>
        <option value="16">1996/1997 Me & Lidia, Bebe's Halloween Party</option>
        <option value="16">1996/1997 Paul Preot Palm Springs Pe Munie</option>
        <option value="16">1996/1997 Simon Fraser Sinery etc.</option>
        <option value="16">1996/1997 Wily Angi</option>
        <option value="27">1997 Gerrard Quinn, Jun, Shirley, Dan, Simon Fraser Park.</option>
        <option value="25">1997/1998 Loretta & Randy at Harrison, Caliente Springs.  Queen Elizabeth Park, Simon Fraser Park, Christmas, La Loretta Revelion la Rodica Radius hot spring</option>
        <option value="25">1998 Adam's Birthday, Focal Point, Randy, Falaviu, in sport Gerry Quinn's 80th Birthday</option>
        <option value="13">1998 Jon Glin with Rachet in Spatiu</option>
        <option value="30">1998 Lip Sync Variety Show with Loretta Quinn</option>
        <option value="13">1999 With Rumnicianu</option>
        <option value="13">2000 New Year Lidia & Paul Revelion</option>
        <option value="13">2000 Our 50th Anniversary</option>
        <option value="14">2000/2001 Boby Coca, Radius Fiermont, Hot Spring</option>
        <option value="15">2001 Bebe's Birthday</option>
        <option value="15">2001 Camic la Bridal Falls</option>
        <option value="15">2001 Lidia's Birthday</option>
        <option value="15">2002 Revelion</option>
        <option value="09">2003 Flaviu's Wedding</option>
        <option value="15">2003 Loretta & Alice's Birthday, Kelowna</option>
        <option value="09">2004 Lidia's Birthday</option>
        <option value="09">2004 Loretta & Alice's Birthday</option>
        <option value="09">2004 Sand Show Harrison</option>
        <option value="09">2004 Vanul La Harrison</option>
        <option value="10">2004/2005 Alice & Dave Visiting</option>
        <option value="10">2004/2005 Allouette Lake</option>
        <option value="10">2004/2005 Bebe's Birthday</option>
        <option value="10">2004/2005 Dan & Mattew Visiting</option>
        <option value="10">2004/2005 Everybody on the Yacht on Okanagan Lake</option>
        <option value="10">2004/2005 Kelowna Visit</option>
        <option value="10">2004/2005 My Birthday</option>
        <option value="10">2004/2005 Pastele Cunaie and Bebe, Harrison</option>
        <option value="10">2004/2005 Saltspring Island</option>
        <option value="00">2005 Bebe's Birthday</option>
        <option value="00">2005 Christmas La Bebe</option>
        <option value="00">2005 Harrison</option>
        <option value="09">2005 New Year's Eve</option>
        <option value="00">2005 Vancouver and Victoria</option>
        <option value="00">2006 Christmas La Bebe</option>
        <option value="06">2006 Christmas La Filip</option>
        <option value="06">2006 Coca-si Boby in ????</option>
        <option value="00">2006 Cocasiboby visit in Vancouver</option>
        <option value="00">2006 Paul's Birthday</option>
        <option value="06">2007 Bebe's Birthday</option>
        <option value="06">2007 Christmas La Bebe</option>
        <option value="06">2007 Cirorici</option>
        <option value="06">2007 La Filip Randy & Loretta</option>
        <option value="06">2007 My Paintings</option>
        <option value="06">2007 Pastete La Filip</option>
        <option value="12">2008 Bebe's Birthday</option>
        <option value="12">2008 Boatul Malibu, Randy & Loretta Visiting</option>
        <option value="12">2008 Gross Mawnter Family Botul Bayliner</option>
        <option value="12">2008 My Birthday</option>
        <option value="12">2008 My Birthday in Kelowna</option>
        <option value="11">2008 My Birthday in Kelowna with Loretta</option>
        <option value="07">2009 Bebe's Birthday</option>
        <option value="08">2009 Christmas 84th av. H. Ceapter</option>
        <option value="08">2009 Lidia's Birthday in Kelowna</option>
        <option value="12">2009 My Summer Pictures</option>
        <option value="13">2009 October 29th, Harrison Lake, Camping for 3 days: Me, Lidia, Adam, antique cars</option>
        <option value="07">2010 Bebe & Rodica's Anniversary (1)</option>
        <option value="08">2010 Bebe & Rodica's Anniversary (2)</option>
        <option value="07">2010 Bebe's Birthday</option>
        <option value="07">2010 Lidia and Dan at Lidia's birthday in Kelowna with Alice & Dave</option>
        <option value="07">2010 My Birthday at Newland's</option>
        <option value="08">2010 My birthday at Newland's</option>
        <option value="01">2011 Matt & Shawna's Wedding</option>
        <option value="07">2011 Matthew & Shawna's Wedding</option>
        <option value="05">2012 Violet Aurora Quinn</option>
        <option value="04">20xx Photos of Matt, Shawna, Dan, and the Mooses</option>
        <option value="13">???? Adam with school dancing</option>
        <option value="15">???? Airex Motorhome for Sale</option>
        <option value="08">???? Bebe's Birthday</option>
        <option value="11">???? Botul Malibu (Gros Mountain)</option>
        <option value="08">???? Christmas in 84 av. (My House)</option>
        <option value="12">???? Craciunul with Bebe</option>
        <option value="09">???? Dani in Vizita</option>
        <option value="08">???? Gros Mamiten</option>
        <option value="15">???? Harrison Sand Builders</option>
        <option value="08">???? Ineriorul Casei</option>
        <option value="13">???? Lidia's birthday</option>
        <option value="06">???? Loretta in ?????? in Vancouver</option>
        <option value="08">???? Los Angeles</option>
        <option value="22">???? Los Angeles Sandu Nutty Rina Toni</option>
        <option value="06">???? Matthew, Dragana, Dan</option>
        <option value="06">???? My Birthday</option>
        <option value="06">???? Otilia Ramnicianu, Ciuci, Nic, Titi, Naie, Flaviu, Tracy, Natasha, Frentic, Marcel, Fientic for Christmas</option>
        <option value="06">???? Paul & Lidia in Kelowna</option>
        <option value="12">???? Penticton & Kelowna with Alice for Lidia's Birthday</option>
        <option value="02">???? Photography</option>
        <option value="11">???? Randy & Loretta Maleus Dan, Lidia, and Paul</option>
        <option value="12">???? Randy's Birthday at Newland's</option>
        <option value="08">???? San Diego Zoo</option>
        <option value="13">???? September 27th, Long Beach, Washington</option>
        <option value="22">???? The Last of Perry Como & Nat King Cole</option>
      </select>
    </div>
  </form>
  <p class="lead">
    There's over 100 hours of video in here, but my grandfather wasn't very
    good at indexing it all.  If you search for something and nothing turns up,
    why not try a random video and hope you get lucky?
  </p>
  <p class="lead">
    <a href="/random.html" class="btn btn-outline-secondary">Random</a>
  </p>
</div>
