<div class="inner cover">
  <h1 class="cover-heading">Ovanes Filip</h1>
  <form method="get">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
      <input type="text" class="form-control" placeholder="Search the archive" aria-describedby="basic-addon1" id="search">
    </div>
  </form>
  <p class="lead">
    There's over 100 hours of video in here, but my grandfather wasn't very
    good at indexing it all.  If you search for something and nothing turns up,
    why not try a random video and hope you get lucky?
  </p>
  <p class="lead">
    <a href="/random.html" class="btn btn-outline-secondary">Random</a>
  </p>
</div>
