<video id="video-{i:02}" class="video-js" controls preload="auto" poster="/img/posters/{i:02}.jpg" data-setup="{{}}">
  <source src="https://s3.ca-central-1.amazonaws.com/grandpa-danielquinn-org/vid/{i:02}.webm" type="video/webm">
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>

<section class="metadata">
  <ul>
    {{ metadata }}
  </ul>
</section>
<section class="heads-up">
  <p>Is something missing?  <a class="text-warning" href="mailto:grandpa@danielquinn.org?subject=Adjustments%20for%20Video%20{i:02}">Email me</a> and I'll update this description.</p>
</section>
